
/* Main Area */
.main-area {
    text-align: center;
    margin-top: 200px
}

form {
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type="button"] {
    margin: 0 5px;
}

input[type="text"] {
    width: 580px;
    height: 43px;
    border-radius: 25px;
    margin-bottom: 25px;
}