* {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: small;
    color: #7f6793;
}

a:visited {
    color: #7f6793;
}

/* Main Area */
.main-area-margin {
    clear: both;
}

.main-area {
    text-align: center;
    margin-top: 200px;
}

form {
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type="button"] {
    margin: 0 5px;
}

input[type="text"] {
    width: 580px;
    height: 43px;
    border-radius: 25px;
    margin-bottom: 25px;
}

/* Navbars */
ul {
    position: fixed;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    padding: 8px 9px;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

ul:first-child {
    margin-left: 15px;
}

/* Navbar right-aligned elements */
.navbar-right {
    position: absolute;
    right: 25px;
}


/* Top Navbar */
.top-navbar {
    top: 0;
    margin-top: 15px;
}

.navbar-sm-icon, .navbar-bg-icon {
    position: relative;
}

.navbar-sm-icon {
    top: -3px;
}

.navbar-bg-icon {
    top: -10px;
}


/* Bottom Navbar*/
.bottom-navbar {
    bottom: 0;
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
}

.bottom-left {
    margin-left: 25px;
}

/* Country location bar */
.country-bar {
    padding: 8px 15px 8px 10px;
    bottom: 30px;
}